@import "../../styles/variables";
@import "../../styles/mixin";


.hotelCard {
  //padding-top: 19px;
  padding-bottom: 16px;
  border-bottom: 1px solid $grey;
  width: 100%;


  .hotelInfo {
    display: flex;
    width: 100%;
    overflow: hidden;

    .nameHotel {
      font-weight: 300;
      font-size: 17px;
      line-height: 22px;
      color: $black;
      overflow: hidden;


    }

    .formattedDate {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: $greyFont;
      margin-bottom: 5px;
    }


    .infoAboutHotel {
      width: 100%;

      .nameAndFavorite {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-right: 32px;


        .fill * {
          fill: #E55858;
          //border: 1px solid red;
        }
      }

      .priceAndStars {
        display: flex;
        max-width: 100%;
        //justify-content: space-between;

        .rait {
          display: flex;
          align-items: center;
          gap: 3px;
          margin-right: 271px;

          .fill * {
            fill: $Yellow;
          }
        }

        p {
          //margin-right: 8px;
          font-weight: 300;
          font-size: 11px;
          line-height: 22px;
          color: $greyFont;
          white-space: nowrap;

          .nameOfPrice {
            margin-right: 8px;
            font-weight: 300;
            font-size: 11px;
            line-height: 22px;
            color: $greyFont;
            //align-self: end;
            vertical-align: top;
          }

          .price {
            font-weight: 400;
            font-size: 17px;
            line-height: 22px;
            color: $black;

          }
        }
      }
    }
  }

}







