@import "../../../styles/variables";
@import "../../../styles/mixin";

.findHotel{

  .formWrapper {
    width: 296px;


    .cityInput {
      margin-bottom: 16px;
    }
    .dateInput {
      margin-bottom: 20px;
    }
    .dateEnd {
      margin-bottom: 32px;
    }
  }
}

