@import "src/styles/variables";
@import "src/styles/mixin";


.button {
  @include button;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.9;
  }
}

.buttonNotValid {
  @include button;
  opacity: 0.5;
}










