@import "src/styles/variables";
@import "src/styles/mixin";

.mainPage {
  padding-top: 32px;
  background-color: $darkGrey;

  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .subMainPage {

    display: flex;
    width: 1048px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;


    .findAndFavorites {
      width: 360px;


      .findHotel {
        height: 410px;
        margin-bottom: 24px;
        padding: 32px;
        border-radius: 16px;
        margin-bottom: 24px;
        background-color: $white;
      }

      .favoritesHotel {
        height: 472px;
        background-color: $white;
        border-radius: 16px;

      }
    }

    .hotels {
      width: 664px;
      background-color: $white;
      border-radius: 16px;
      padding: 48px 32px  52px 32px;
      height: 902px;

    }
  }


}