.mainPage {
  padding-top: 32px;

  .footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .subMainPage {
    border: 1px solid red;
    display: flex;
    width: 1048px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;

    .findAndFavorites {
      border: 1px solid yellow;
      width: 360px;

      .findHotel {
        height: 410px;
        margin-bottom: 24px;
        border: 1px solid black;
        padding: 32px;
      }

      .favoritesHotel {
        height: 472px;
      }
    }

    .hotels {
      border: 1px solid green;
      width: 664px;
    }
  }


}