@import "src/styles/variables";

.inputName {
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  display: inline-block;
  margin-bottom: 7px;

}

.inputStyle {
  position: relative;

  .input {
    width: 100%;
    border: 1px solid $grey;
    height: 50px;
    font-size: 24px;
    border-radius: 4px;
    padding: 0.3rem;

  }

  .errorStyle {
    position: absolute;

    .error {
      color: red
    }
  }
}


input[type="date"] {
  //width: 100%;
  //height: 100%;
  padding: 0.3rem;
  //border-radius: 5px;
  //border: 1px solid #ccc;
  //box-sizing: border-box;
}


