@import "src/styles/variables";
@import "src/styles/mixin";


.inputName {
@include inputName;

}

.inputNameError {
  @include inputName;
  color: $red;

}

.inputStyle {
  position: relative;

  .input {
    @include input;
    border: 1px solid $grey;
  }

  .inputError {
    @include input;
    border: 1px solid $red;
  }

  .errorStyle {
    position: absolute;

    .error {
      color: $red;
    }
  }
}

input[type="date"] {
  //width: 100%;
  //height: 100%;
  padding: 0.3rem;
  //border-radius: 5px;
  //border: 1px solid #ccc;
  //box-sizing: border-box;
}


